nav.header__nav 
    ul.header__menu
        li.header__items
            a.header__links(href="#") Главная
        li.header__items
            a.header__links(href="#") о театре
        li.header__items
            a.header__links(href="#") Наши постановки
        li.header__items
            a.header__links(href="#") партнеры театра
        li.header__items
            a.header__links(href="#") контакты
    .header__number 
        a.header__number-link(href="#") +7 495 123-45-67
