<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Teatro
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;700&display=swap", rel="stylesheet")
        script(src="./script.js" defer)
    body
        header.header
            .burger#burger
                img(src="./imgs/burger.svg", alt="burger")

            .mobile-nav
                .exit#exit 
                    img(src="./imgs/exit.svg", alt="exit")

                ul.mobile-nav__menu
                    li.mobile-nav__items
                        a.mobile-nav__links(href="#") Главная
                    li.mobile-nav__items
                        a.mobile-nav__links(href="#") о театре
                    li.mobile-nav__items
                        a.mobile-nav__links(href="#") Наши постановки
                    li.mobile-nav__items
                        a.mobile-nav__links(href="#") партнеры театра
                    li.mobile-nav__items
                        a.mobile-nav__links(href="#") контакты

                .mobile-nav__social 
                    .mobile-nav__social-top
                        a.mobile-nav__social-items(href="#", style="padding-left:10px")
                            i(class="fab fa-facebook-f")
                        a.mobile-nav__social-items(href="#")
                            i(class="fab fa-instagram")
                    .mobile-nav__social-down
                        a.mobile-nav__social-items(href="#")
                            i(class="fab fa-youtube")
                        a.mobile-nav__social-items(href="#")
                            i(class="fab fa-vk")

            .header__left-block
                .left-block__inner
                    .left-block__text 
                        img(src="./imgs/headerText.svg", alt="1")
                    .left-block__links
                        a.left-block__items(href="#")
                            i(class="fab fa-instagram")
                        a.left-block__items(href="#")
                            i(class="fab fa-facebook-f")
                        a.left-block__items(href="#")
                            i(class="fab fa-vk")
                        a.left-block__items(href="#")
                            i(class="fab fa-youtube")
            .container
                include ./pugs/nav.pug


                section.header__info
                    .header__info-left
                        .header__title  Большой театр
                        .header__text.
                            Большо́й теа́тр — петербургский театр, существовавший в 1784—1886 годах, с 1886 года — Петербургская консерватория.
                            Первое постоянное в Санкт-Петербурге, крупнейшее в России и одно из крупнейших театральных зданий в Европе XVIII.
                        .header__btn 
                            a.header__btn-link афиша
                    
                    .header__info-right
                        .info-right__imgs
                            img.info-right__itms(src="./imgs/image 4.jpg", alt="image")
                            img.info-right__itms.active(src="./imgs/image 3.jpg", alt="image")

                        .info-right__btns 
                            .info-right__btn(data-target="prev") <span class="spanOne">&LeftArrow;</span> Пред 
                            .info-right__btn(data-target="next") След <span class="spanTwo">&RightArrow;</span>

        section.about-teatro
            .container    
                .about-teatro__inner
                    .section-title <span class="oneHarf">о </span>театре
                    .about-teatro__cols
                        .about-teatro__info
                            .about-teatro__info-title Самый лучший театр СПБ
                            .about-teatro__info-text.
                                Как свидетельствуют архивные документы, первое каменное здание Большого театра начали возводить
                                в 1775 году по проекту Антонио Ринальди. В дальнейшем, после того как Ринальди упал с лесов
                                и не мог лично наблюдать за ходом работ, Екатерина II поручила немецкому театральному декоратору
                                и архитектору Людвигу Филиппу Тишбейну создать новый проект театра, который
                                и был воплощён архитекторами Ф. В. фон Бауром и М. А. Деденёвым. Открытие его состоялось в 1783 году,
                                хотя, основываясь на других свидетельствах, годом открытия можно считать 1784 год.
                        .about-teatro__statistics
                            .about-teatro__info-title немного о цифрах
                            .statistics__item
                                .statistics__item-img 
                                    img(src="./imgs/aboutTeatro/1.svg", alt="koltuk")
                                .statistics__item-title <span class="oneHarf">1600 </span>посадочный мест
                            .statistics__item
                                .statistics__item-img 
                                    img(src="./imgs/aboutTeatro/2.svg", alt="koltuk")
                                .statistics__item-title <span class="oneHarf">350 </span>лет истории
                        .about-teatro__img 
                            img(src="./imgs/aboutTeatro/3.jpg", alt="")

        section.staging
            .container 
                .staging__inner 
                    .section-title <span class="oneHarf">наши </span>постановки
                    .staging__block-imgs
                        .staging__items
                            .staging__items-img
                                img.staging__items-bg(src="./imgs/staging/1.png", alt="")
                                .staging__items-name ОСКАР 2020
                                .staging__items-date сентябрь 2020
                                .staging__items-btn
                                    img(src="./imgs/staging/vector.svg", alt="vector")
                                .staging__items-gradient
                        .staging__items
                            .staging__items-img
                                img.staging__items-bg(src="./imgs/staging/2.png", alt="")
                                .staging__items-name золотой грамофон
                                .staging__items-date июль 2020
                                .staging__items-btn
                                    img(src="./imgs/staging/vector.svg", alt="vector")
                                .staging__items-gradient
                        .staging__items
                            .staging__items-img
                                img.staging__items-bg(src="./imgs/staging/3.png", alt="")
                                .staging__items-name щелкунчик
                                .staging__items-date май 2020
                                .staging__items-btn
                                    img(src="./imgs/staging/vector.svg", alt="vector")
                                .staging__items-gradient
                        .staging__items
                            .staging__items-img
                                img.staging__items-bg(src="./imgs/staging/4.png", alt="")
                                .staging__items-name Петербургская
                                .staging__items-date сентябрь 2020
                                .staging__items-btn
                                    img(src="./imgs/staging/vector.svg", alt="vector")
                                .staging__items-gradient

        section.appraisal
            .container
                .appraisal__inner
                    .apparisal__bg
                        .apparisal__left
                            .apparisal__items 2018
                            .apparisal__items 2019
                            .apparisal__items 2020
                        .apparisal__right 
                            .apparisal__stars
                                .apparisal__start-items
                                    img(src="./imgs/apparisal/1.svg", alt="")
                                .apparisal__start-items
                                    img(src="./imgs/apparisal/1.svg", alt="")
                                .apparisal__start-items
                                    img(src="./imgs/apparisal/1.svg", alt="")
                                .apparisal__start-items
                                    img(src="./imgs/apparisal/1.svg", alt="")
                                .apparisal__start-items
                                    img(src="./imgs/apparisal/1.svg", alt="")
                            .apparisal__text.
                                Лучший театр <br>
                                по мнению театральных <br>
                                критиков Парижа <br>


        section.partners 
            .container
                .partners__inner
                    .section-title <span class="oneHarf">партнеры </span>театра

                    .partners__block.marg
                        .partners__items
                            a(href="#")
                                img(src="./imgs/partners/logo.png", alt="")
                        .partners__items
                            a(href="#")
                                img(src="./imgs/partners/logo.png", alt="")
                        .partners__items
                            a(href="#")
                                img(src="./imgs/partners/logo.png", alt="")
                        .partners__items
                            a(href="#")
                                img(src="./imgs/partners/logo.png", alt="")
                    .partners__block 
                        .partners__items
                            a(href="#")
                                img(src="./imgs/partners/logo.png", alt="")
                        .partners__items
                            a(href="#")
                                img(src="./imgs/partners/logo.png", alt="")
                        .partners__items
                            a(href="#")
                                img(src="./imgs/partners/logo.png", alt="")
                        .partners__items
                            a(href="#")
                                img(src="./imgs/partners/logo.png", alt="")
        section.sms 
            .container 
                .sms__inner
                    .section-title <span class="oneHarf">стать </span>меценатом

                    .sms__block
                        .sms__left 
                            p.sms__left-items +7 (812) 123-45-55
                            p.sms__left-items +7 (812) 123-45-66
                            p.sms__left-items info@theater.ru
                            p.sms__left-items г. санкт-петербург, невский 140

                        .sms__right 
                            .sms__inputs
                                .sms__inputs-names
                                    input.inputs-names__items(type="email", placeholder="Имя")
                                    input.inputs-names__items(type="tel", placeholder="Телефон", pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}", required)
                                    input.inputs-names__items(type="email", placeholder="Компания")
                                    input.inputs-names__items(type="email", placeholder="E-mail")
                                .sms__inputs-sms
                                    input(type="text" placeholder="Сообщение")
                            .sms__right-down 
                                .sms__right-text.
                                    * Ваши данные не будут переданы третьим лицам,
                                    100% вероятность. Конфиденциальность мы гарантируем,
                                    и защищаем персональные данные согласно законку ФЗ-52.
                                .sms__right-btn
                                    a(href="#") отправить

                            
        include ./pugs/footer.pug                        
