/* line 1, ../sass/_base.sass */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_base.sass */
body {
  color: #ffffff;
  font-family: Open Sans Condensed;
  background: #333333;
}

/* line 12, ../sass/_base.sass */
a {
  text-decoration: none;
  color: #fff;
}

/* line 16, ../sass/_base.sass */
.container {
  max-width: 1025px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 1, ../sass/_header.sass */
.header {
  width: 100%;
  height: 100vh;
  background: url("../imgs/bg.jpg") no-repeat center center/cover;
  padding-top: 30px;
  position: relative;
}

/* line 8, ../sass/_header.sass */
.header__left-block {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 120px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: rgba(51, 51, 51, 0.75);
}

/* line 22, ../sass/_header.sass */
.left-block__inner {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86px;
}

/* line 31, ../sass/_header.sass */
.left-block__text {
  position: relative;
  top: -50px;
}
/* line 35, ../sass/_header.sass */
.left-block__text::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 80px;
  left: -32px;
  bottom: -62px;
  background: #C4C4C4;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* line 47, ../sass/_header.sass */
.left-block__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 174px;
}

/* line 54, ../sass/_header.sass */
.left-block__items {
  color: rgba(255, 255, 255, 0.6);
}
/* line 57, ../sass/_header.sass */
.left-block__items i {
  font-size: 22px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 61, ../sass/_header.sass */
.left-block__items i:hover {
  color: #D1A954;
}

/* line 66, ../sass/_header.sass */
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 130px;
}

/* line 72, ../sass/_header.sass */
.header__menu {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

/* line 80, ../sass/_header.sass */
.header__links {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
/* line 88, ../sass/_header.sass */
.header__links:hover {
  color: #D1A954;
}

/* line 91, ../sass/_header.sass */
.header__number-link {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}
/* line 100, ../sass/_header.sass */
.header__number-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 2px;
  background: #D1A954;
}

/* line 112, ../sass/_header.sass */
.header__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 119, ../sass/_header.sass */
.header__info-left {
  max-width: 540px;
  width: 100%;
}

/* line 124, ../sass/_header.sass */
.header__info-right {
  max-width: 350px;
  width: 100%;
  height: 40px;
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 135, ../sass/_header.sass */
.header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* line 144, ../sass/_header.sass */
.header__text {
  /* p / 14r */
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 49px;
  /* or 21px */
}

/* line 154, ../sass/_header.sass */
.header__btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #D1A954;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}
/* line 169, ../sass/_header.sass */
.header__btn-link:hover {
  background: #ffffff;
  color: #D1A954;
}

/* line 172, ../sass/_header.sass */
.info-right__imgs {
  position: relative;
}
/* line 174, ../sass/_header.sass */
.info-right__imgs img {
  position: absolute;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  left: 0;
  top: 0;
}
/* line 179, ../sass/_header.sass */
.info-right__imgs img.active {
  left: -20px;
  top: -20px;
  z-index: 2;
}

/* line 184, ../sass/_header.sass */
.info-right__btns {
  width: 100%;
  position: relative;
  bottom: -55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 193, ../sass/_header.sass */
.info-right__btn {
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  color: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 23px;
  font-family: Open Sans Condensed;
  font-weight: bold;
}
/* line 202, ../sass/_header.sass */
.info-right__btn:hover {
  color: #ffffff;
}

/* line 204, ../sass/_header.sass */
.spanOne {
  padding-right: 20px;
}

/* line 207, ../sass/_header.sass */
.spanTwo {
  padding-left: 20px;
}

/* line 209, ../sass/_header.sass */
.burger {
  position: absolute;
  top: 60px;
  left: 39px;
  display: none;
}
/* line 216, ../sass/_header.sass */
.burger:hover img {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  opacity: 0.5;
}

/* line 220, ../sass/_header.sass */
.mobile-nav {
  position: absolute;
  left: -300px;
  top: 0;
  width: 300px;
  height: 800px;
  background: #333333;
  padding-top: 140px;
  display: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  z-index: 2;
}
/* line 231, ../sass/_header.sass */
.mobile-nav.active {
  left: 0;
}

/* line 234, ../sass/_header.sass */
.exit {
  position: absolute;
  top: 38px;
  right: 38px;
}
/* line 240, ../sass/_header.sass */
.exit:hover img {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  opacity: 0.5;
}

/* line 244, ../sass/_header.sass */
.mobile-nav__menu {
  list-style: none;
  margin-left: 39px;
  margin-bottom: 89px;
}

/* line 250, ../sass/_header.sass */
.mobile-nav__items:not(:last-child) {
  margin-bottom: 35px;
}

/* line 252, ../sass/_header.sass */
.mobile-nav__links {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
/* line 259, ../sass/_header.sass */
.mobile-nav__links:hover {
  color: #D1A954;
}

/* line 261, ../sass/_header.sass */
.mobile-nav__social {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 141px;
  width: 115px;
}

/* line 268, ../sass/_header.sass */
.mobile-nav__social-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

/* line 274, ../sass/_header.sass */
.mobile-nav__social-down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 279, ../sass/_header.sass */
.mobile-nav__social-items i {
  font-size: 40px;
}
/* line 281, ../sass/_header.sass */
.mobile-nav__social-items i:hover, .mobile-nav__social-items i:active {
  color: #D1A954;
}

/* line 2, ../sass/_aboutTeatro.sass */
.about-teatro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 125px 0;
}

/* line 8, ../sass/_aboutTeatro.sass */
.section-title {
  font-family: Open Sans Condensed;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 100px;
}

/* line 16, ../sass/_aboutTeatro.sass */
.about-teatro__cols {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 21, ../sass/_aboutTeatro.sass */
.about-teatro__info, .about-teatro__statistics {
  margin-right: 30px;
}

/* line 23, ../sass/_aboutTeatro.sass */
.oneHarf {
  color: #D1A954;
}

/* line 26, ../sass/_aboutTeatro.sass */
.about-teatro__info {
  max-width: 375px;
  width: 100%;
}

/* line 30, ../sass/_aboutTeatro.sass */
.about-teatro__info-title {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* line 38, ../sass/_aboutTeatro.sass */
.about-teatro__info-text {
  line-height: 1.5;
}

/* line 41, ../sass/_aboutTeatro.sass */
.statistics__item:not(:last-child) {
  margin-bottom: 28px;
}

/* line 44, ../sass/_aboutTeatro.sass */
.statistics__item-img {
  max-width: 70px;
  width: 100%;
  margin-bottom: 10px;
}
/* line 49, ../sass/_aboutTeatro.sass */
.statistics__item-img img {
  width: 100%;
}

/* line 52, ../sass/_aboutTeatro.sass */
.statistics__item-title {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

/* line 59, ../sass/_aboutTeatro.sass */
.about-teatro__img {
  max-width: 350px;
  width: 100%;
}
/* line 62, ../sass/_aboutTeatro.sass */
.about-teatro__img img {
  width: 100%;
}

/* line 1, ../sass/_staging.sass */
.staging__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 5, ../sass/_staging.sass */
.staging__block-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 8, ../sass/_staging.sass */
.staging__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1;
          flex: 0 0 1;
  width: 100%;
}
/* line 13, ../sass/_staging.sass */
.staging__items:hover .staging__items-date, .staging__items:hover .staging__items-name, .staging__items:hover .staging__items-gradient {
  opacity: 0;
  pointer-events: 0;
}
/* line 16, ../sass/_staging.sass */
.staging__items:hover .staging__items-btn {
  opacity: 1;
  pointer-events: all;
}

/* line 20, ../sass/_staging.sass */
.staging__items-img {
  position: relative;
  width: 100%;
  z-index: 2;
}

/* line 25, ../sass/_staging.sass */
.staging__items-bg {
  width: 100%;
}

/* line 28, ../sass/_staging.sass */
.staging__items-name {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  z-index: 3;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

/* line 40, ../sass/_staging.sass */
.staging__items-date {
  position: absolute;
  bottom: 70px;
  left: -10px;
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 3;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

/* line 54, ../sass/_staging.sass */
.staging__items-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #D1A954;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}
/* line 71, ../sass/_staging.sass */
.staging__items-btn:hover {
  background: #C19C4D;
}
/* line 74, ../sass/_staging.sass */
.staging__items-btn img {
  width: 20px;
  height: 20px;
}

/* line 78, ../sass/_staging.sass */
.staging__items-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 51, 51, 0.65)), to(rgba(51, 51, 51, 0.65)));
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
  z-index: 2;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

/* line 1, ../sass/_apparisal.sass */
.appraisal__inner {
  padding: 150px 0;
}

/* line 4, ../sass/_apparisal.sass */
.apparisal__bg {
  width: 100%;
  height: 550px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 51, 51, 0.9)), to(rgba(51, 51, 51, 0.9))), url("../imgs/apparisal/bg.png") no-repeat center center;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url("../imgs/apparisal/bg.png") no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 14, ../sass/_apparisal.sass */
.apparisal__items {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
  margin-right: 100px;
}

/* line 23, ../sass/_apparisal.sass */
.apparisal__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  max-width: 200px;
  width: 100%;
}

/* line 30, ../sass/_apparisal.sass */
.apparisal__start-items {
  max-width: 26px;
  width: 100%;
  height: 24px;
}

/* line 36, ../sass/_apparisal.sass */
.apparisal__start-items img {
  width: 100%;
}

/* line 39, ../sass/_apparisal.sass */
.apparisal__text {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 36px;
}

/* line 1, ../sass/_partners.sass */
.partners {
  margin-bottom: 120px;
}

/* line 3, ../sass/_partners.sass */
.partners__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 9, ../sass/_partners.sass */
.partners__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 13, ../sass/_partners.sass */
.partners__block.marg {
  margin-bottom: 80px;
}

/* line 17, ../sass/_partners.sass */
.partners__items {
  max-width: 200px;
  width: 100%;
  height: 96px;
  padding: 10px;
}
/* line 22, ../sass/_partners.sass */
.partners__items img {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  width: 100%;
}
/* line 26, ../sass/_partners.sass */
.partners__items:hover img {
  opacity: 0.8;
}

/* line 1, ../sass/_sms.sass */
.sms__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

/* line 6, ../sass/_sms.sass */
.sms__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 11, ../sass/_sms.sass */
p.sms__left-items {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
/* line 17, ../sass/_sms.sass */
p.sms__left-items:not(:last-child) {
  margin-bottom: 20px;
}

/* line 21, ../sass/_sms.sass */
.sms__right {
  max-width: 730px;
  width: 100%;
}

/* line 25, ../sass/_sms.sass */
.sms__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

/* line 30, ../sass/_sms.sass */
.sms__inputs-names {
  margin-right: 30px;
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 38, ../sass/_sms.sass */
.inputs-names__items {
  max-width: 170px;
  max-height: 35px;
  padding: 10px;
  background: #444444;
  border: 1px solid #616161;
  outline: none;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
}
/* line 51, ../sass/_sms.sass */
.inputs-names__items:placeholder {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
}
/* line 56, ../sass/_sms.sass */
.inputs-names__items:focus {
  border-color: #D1A954;
}

/* line 61, ../sass/_sms.sass */
.sms__inputs-sms input {
  padding: 10px 153px 65px 15px;
  background: #444444;
  border: 1px solid #616161;
  outline: none;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
}
/* line 71, ../sass/_sms.sass */
.sms__inputs-sms input:placeholder {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
}
/* line 76, ../sass/_sms.sass */
.sms__inputs-sms input:focus {
  border-color: #D1A954;
}

/* line 79, ../sass/_sms.sass */
.sms__right-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 83, ../sass/_sms.sass */
.sms__right-text {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 12px;
  color: #989898;
  max-width: 390px;
  width: 100%;
}

/* line 92, ../sass/_sms.sass */
.sms__right-btn a {
  width: 190px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background: #D1A954;
  color: #FFFFFF;
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
/* line 110, ../sass/_sms.sass */
.sms__right-btn a:hover {
  color: #D1A954;
  background: #ffffff;
}

/* line 114, ../sass/_sms.sass */
.sms__inputs-names-col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 1, ../sass/_footer.sass */
.footer__inner {
  border-top: 1px solid #565656;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 7, ../sass/_footer.sass */
.footer__text {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 12px;
  color: #989898;
}

@media (max-width: 1250px) {
  /* line 3, ../sass/_mobile.sass */
  .container {
    max-width: 950px;
  }

  /* line 5, ../sass/_mobile.sass */
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* line 9, ../sass/_mobile.sass */
  .header__menu {
    margin-bottom: 50px;
  }

  /* line 11, ../sass/_mobile.sass */
  .header__info-left {
    margin-left: 140px;
  }

  /* line 13, ../sass/_mobile.sass */
  .header__info-right {
    display: none;
  }

  /* line 15, ../sass/_mobile.sass */
  .header__links {
    font-size: 18px;
  }
}
@media (max-width: 950px) {
  /* line 19, ../sass/_mobile.sass */
  .container {
    max-width: 750px;
  }

  /* line 21, ../sass/_mobile.sass */
  .header {
    height: 800px;
  }

  /* line 24, ../sass/_mobile.sass */
  .header__menu {
    display: none;
  }

  /* line 26, ../sass/_mobile.sass */
  .header__number-link {
    position: absolute;
    right: 39px;
    top: 56px;
    z-index: 1;
  }

  /* line 31, ../sass/_mobile.sass */
  .header__left-block {
    display: none;
  }

  /* line 34, ../sass/_mobile.sass */
  .header__info-left {
    margin: 0 auto;
  }

  /* line 37, ../sass/_mobile.sass */
  .burger {
    display: block;
  }

  /* line 40, ../sass/_mobile.sass */
  .mobile-nav {
    display: block;
  }

  /* line 43, ../sass/_mobile.sass */
  .about-teatro__img {
    display: none;
  }

  /* line 46, ../sass/_mobile.sass */
  .sms__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  /* line 49, ../sass/_mobile.sass */
  .sms__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  /* line 52, ../sass/_mobile.sass */
  .flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  /* line 56, ../sass/_mobile.sass */
  .sms__right {
    margin-bottom: 80px;
  }
}
@media (max-width: 750px) {
  /* line 60, ../sass/_mobile.sass */
  .container {
    max-width: 650px;
  }

  /* line 62, ../sass/_mobile.sass */
  .section-title {
    text-align: center;
  }

  /* line 64, ../sass/_mobile.sass */
  .about-teatro__info {
    max-width: 600px;
  }

  /* line 67, ../sass/_mobile.sass */
  .about-teatro__info-text {
    text-align: center;
  }

  /* line 70, ../sass/_mobile.sass */
  .about-teatro__info, .about-teatro__statistics {
    margin: 0;
  }

  /* line 73, ../sass/_mobile.sass */
  .about-teatro__cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* line 77, ../sass/_mobile.sass */
  .about-teatro__info {
    margin-bottom: 50px;
  }

  /* line 80, ../sass/_mobile.sass */
  .about-teatro__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 83, ../sass/_mobile.sass */
  .about-teatro__info-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /* line 88, ../sass/_mobile.sass */
  .statistics__item:first-child {
    margin-right: 60px;
  }

  /* line 91, ../sass/_mobile.sass */
  .apparisal__text {
    font-size: 20px;
  }

  /* line 93, ../sass/_mobile.sass */
  .apparisal__items {
    font-size: 30px;
    margin-right: 30px;
  }

  /* line 96, ../sass/_mobile.sass */
  .apparisal__left {
    margin-left: 50px;
  }

  /* line 99, ../sass/_mobile.sass */
  .sms__inputs-names {
    margin: 0 0 20px 0;
  }

  /* line 102, ../sass/_mobile.sass */
  .sms__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  /* line 105, ../sass/_mobile.sass */
  .inputs-names__items {
    max-width: 280px;
    width: 100%;
    margin: 5px;
  }

  /* line 111, ../sass/_mobile.sass */
  .sms__inputs-sms input {
    width: 100%;
  }

  /* line 113, ../sass/_mobile.sass */
  .sms__right-text {
    margin-right: 20px;
  }

  /* line 116, ../sass/_mobile.sass */
  .sms__right-btn a {
    width: 130px;
  }

  /* line 119, ../sass/_mobile.sass */
  .staging__block-imgs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /* line 123, ../sass/_mobile.sass */
  .staging__items {
    max-width: 40%;
  }

  /* line 125, ../sass/_mobile.sass */
  p.sms__left-items {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  /* line 129, ../sass/_mobile.sass */
  .container {
    max-width: 450px;
  }

  /* line 131, ../sass/_mobile.sass */
  .header {
    height: 600px;
  }

  /* line 133, ../sass/_mobile.sass */
  .header__title {
    font-size: 40px;
  }

  /* line 135, ../sass/_mobile.sass */
  .footer__text {
    font-size: 9px;
  }
}
